upstream fastcgi_backend {
  server  unix:/run/php/php{{ php_version }}-fpm.sock;
}

server {
  listen 80;
  server_name {{ domain }} www.{{ domain }};
  set $MAGE_ROOT /var/www/html;
  include /var/www/html/nginx.conf.sample;
}
